.webixappstart {
    opacity: 0;
}

.webixapp {
    transition: opacity 500ms;
    opacity: 1;
}

.logo {
    background: url(webix-logo.svg) 2px 2px no-repeat;
}


/*login form*/

.invalid_login .webix_header>div {
    background: #FC3636;
    transition: background 1s;
}

.app_layout.webix_layout_clean {
    background: #EBEDF0;
}

.app_start .webix_template {
    padding: 12px 12px;
}

.app_menu .webix_icon {
    font-size: 20px;
    vertical-align: middle;
}


/* dataview with qa cards */

.webix_dataview .webix_dataview_item.tiles .webix_dataview_inner_item {
    padding: 11px;
    line-height: 20px;
    font-size: 14px;
    color: #475466;
}

.userphoto,
.userpic {
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 8px;
}

.userpic {
    background-color: #1a73c7;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 33px;
}

.tasks {
    float: right;
    font-weight: 500;
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #313131;
}

.qaname {
    font-weight: 500;
    display: block;
    color: #313131;
}

.stars {
    display: block;
    width: 90px;
    margin-left: 80px;
}

.star {
    margin-right: -3px !important;
    cursor: pointer;
    font-size: 16px !important;
}

.stars .star.gold {
    color: #FDBF4C;
}

.stars .star.grey,
.stars .star:hover~.star {
    color: #94A1B3;
}

.stars .star:hover,
.stars:hover .star {
    color: #FFD700;
}


/* geochart */

path {
    stroke: #D9D8D7;
}

.star {
    color: #FC3636;
    padding-right: 2%;
}

.SUCCESS {
    color: #55CD97;
}

.PENDING {
    color: rgb(20, 53, 160);
    font-weight: bold;
    ;
}

.REFUSED,
.danger {
    color: #FF5C4C;
}

.incoming {
    color: #41ad7c;
}

.payment {
    color: #FF5C4C;
}


/* iframes */

.webix_view.ifr_template .webix_template {
    padding: 0px;
}

.webix_view.ifr_template>.webix_disabled {
    opacity: 1 !important;
}


/* toolbar */

.header_label .webix_el_box {
    font-size: 16px;
}


/* toolbar */

.header_label .webix_el_box {
    font-size: 16px;
}


/*login form*/

.invalid_login .webix_header>div {
    background: #FC3636;
    transition: background 1s;
}

.app_menu .webix_icon {
    font-size: 20px;
    vertical-align: middle;
}


/* form */

.input_label {
    font-weight: 500;
}


/* form */

.webix_view.form_photo>div {
    padding: 0px;
}


/* iframes */

.webix_view.ifr_template .webix_template {
    padding: 0px;
}

.webix_view.ifr_template>.webix_disabled {
    opacity: 1 !important;
}

.logo {
    background: url(webix-logo.svg) 2px 2px no-repeat;
}

.logo_inverted .webix_template {
    background-color: transparent !important;
}

.webix_view.toolbar_photo>div {
    padding: 0px;
}

.webix_view.toolbar_photo>div {
    padding: 0px;
}

.mainphoto {
    border-radius: 25px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.mainphoto:hover {
    opacity: 0.8;
}

.photo1 {
    width: 100%;
    height: auto;
    margin-left: 5px;
}

.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected {
    padding: 8px 12px;
}

.text {
    padding: 5px 5px 5px 10px;
}

.text1 {
    padding: 2px 2px 2px;
}

.text2 {
    padding-left: 50%;
    padding-top: 5%;
}

.username {
    max-width: 150px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    color: black;
    margin-right: 6%;
    font-size: 15px;
}

.name {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    color: black;
    margin-right: 100%;
}

.name2 {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    color: black;
    margin-right: 5%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* profile menu */

.webix_list.profile_menu .webix_list_item {
    border: none;
}

.webix_view.form_photo>div {
    padding: 0px;
}

.lines div {
    line-height: 150% !important;
}

.header {
    background-color: bisque;
}

.webix_dtable {
    text-transform: capitalize;
}


/*data loading status*/

.status_good,
.status_error,
.status_saving {
    color: #eee;
}

.status_error {
    color: #FFCDCD;
}

.status_area {
    background: transparent;
}

.status_area .webix_icon {
    width: 16px;
}


/*login form*/

.invalid_login .webix_header>div {
    background: #FC3636;
    transition: background 1s;
}

.invalid_login {
    -webkit-animation: formshake .5s linear;
}